*{
   width: 1280px;
   font-family: 'Montserrat';
   font-style: normal;
   text-align: center;
   margin: 0 auto;
   
}

.body{

  background: rgba(0, 0, 0, 0.0001);

}

.header{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
   
    letter-spacing: 2.7px;
    text-transform: uppercase;

    margin-top: 25px;
    margin-bottom: 25px;
   
    color: #FF0000;
}

.span{
  margin-left: 72px;
}

.header_a{
    text-decoration: none;
    color: #FF0000;
}

.img{
  height: 789px;
  left: 0px;
  top: 78px;
  
  background: url(image.png);
}

.main{
 background: rgba(0, 0, 0, 0.0001);
}

.main_header{
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;

  align-items: flex-end;
  letter-spacing: 3.3px;
  text-transform: uppercase;

  color: #373737;
  margin-top: 48px;
  margin-bottom: 38px;
}

.paragraph{
  width: 1145px;
  height: 132px;
  left: 67.5px;
  top: 115px;

 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 letter-spacing: 2.4px;

 color: #373737;

  margin-bottom: 28px;
}

.paragraph1{
  width: 1145px;
  height: 216px;
  left: 67.5px;
  top: 275px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  margin-bottom: 66px;
}


.button{
    width: 191px;
    height: 51px;
   
    margin-bottom: 82px;
    border: 0px;

    background: #FF0000;
    border-radius: 4px;
}

.button_text{
  width: 105px;
  height: 16px;
  left: 587px;
  top: 575px;
  
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;

    color: #FFFFFF;
}

.footer{
  width: 462px;
  height: 39px;
  left: 608px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  
  color: #373737;

  margin-bottom: 29px;
  margin-left: 713px;
  margin-right: 105px;
}